
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<th:block th:insert="~{head :: head}"></th:block>
<body>
<th:block th:insert="~{header :: header}"></th:block>

<div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">

    <form th:action="@{/categorie/addCategorie}" method="post" role="form" class="php-email-form" th:object ="${categorie}">
        <div class="row">
            <input type="hidden" th:field="*{idCategorie}"/>

            <div class="col-lg-6 form-group">
                <input type="text" name="type" class="form-control" th:field="*{type}" id="type" placeholder="le nom de votre catégorie" required>
            </div>

            <div class="col-lg-6 form-group">
                <input type="text" name="nombreDeRoue" class="form-control" th:field="*{nombreDeRoue}" id="nombreDeRoue" placeholder="le nombre de roue" required>
            </div>

            <div class="col-lg-6 form-group">
                <input type="text" name="nombrePorte;" class="form-control" th:field="*{nombrePorte}" id="nombrePorte" placeholder="le nombre de porte" required>
            </div>

        </div>

        <div class="text-center"><button type="submit">Send Message</button></div>
    </form>
</div>
<th:block th:insert="~{footer :: footer}"></th:block>

<script type="text/javascript">

</script>
</body>
</html>