
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<th:block th:insert="~{head :: head}"></th:block>
<body>


<div class="card" style="width: 18rem;" th:each="categorie:${categories}" >
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body" >
        <h5 class="card-title" th:id="${categorie.idCategorie}"  th:value="${categorie.idCategorie}"  >[[${categorie.type}]]</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
</body>
<th:block th:insert="~{footer :: footer}"></th:block>
</html>