<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/assets/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendorLogin/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendorLogin/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendorLogin/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendorLogin/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendorLogin/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendorLogin/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <form class="login100-form validate-form flex-sb flex-w" th:action="@{/user/check}" method="post" >
					<span class="login100-form-title p-b-53">
						Connectez Vous
					</span>

                <a href="#" class="btn-face m-b-20">
                    <i class="fa fa-facebook-official"></i>
                    Facebook
                </a>

                <a href="#" class="btn-google m-b-20">
                    <img src="images/icons/icon-google.png" alt="GOOGLE">
                    Google
                </a>


                <div class="wrap-input100 validate-input" data-validate = "Username is required">
                    <input class="input100 txt1" placeholder="login" name="login" type="text" >
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-13 p-b-9">
                    <a th:href="@{/user/logon}" class="txt2 bo1 m-l-5">
                        Forgot?
                    </a>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="mdp" placeholder="password" >
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        Envoyer
                    </button>
                </div>

                <div class="w-full text-center p-t-55">
						<span class="txt2">
							Vous n'avez pas de compte?
						</span>

                    <a th:href="@{/user/add}" class="txt2 bo1">
                        Enregistrer vous
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
<th:block th:insert="~{footer :: footer}"></th:block>
<!--===============================================================================================-->
<script th:src="@{/assets/vendorLogin/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/assets/vendorLogin/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/assets/vendorLogin/bootstrap/js/popper.js}"></script>
<script th:src="@{/assets/vendorLogin/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/assets/vendorLogin/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/assets/vendorLogin/daterangepicker/moment.min.js}"></script>
<script th:src="@{/assets/vendorLogin/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/assets/vendorLogin/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/assets/js/mainLogin.js}"></script>

</body>
</html>