<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<th:block th:insert="~{head :: head}"></th:block>
<!-- ======= Header ======= -->
<header th:fragment="header" id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo me-auto">
            <h1><a href="index.html">Michel Agence</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <div th:if="${session.userLogin}"  th:text="${session.userLogin.nom}">toto</div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" th:href="@{/}">Home</a></li>
                <li><a class="nav-link scrollto" th:href="@{user/logon}">userAdd</a></li>
                <li><a class="nav-link scrollto" th:href="@{categorie/add}">Catégorie</a></li>
                <li><a class="nav-link scrollto" th:href="@{vehicule/add}">Vehicule</a></li>
                <li><a class="nav-link scrollto" th:href="@{agence/add}">Agence</a></li>
                <li><a class="nav-link scrollto" th:href="@{/dashbord}">Dashboard</a></li>

                <li class="dropdown"><a href="#"><span>Catégorie</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a th:href="@{vehicule/list}">List vehicules</a></li>
                        <li><a th:href="@{categorie/search}">List Categories</a></li>
                        <li><a th:href="@{agence/list}">List agence</a></li>
                        <li><a th:href="@{vehicule/card}">card vehicule</a></li>
                        <li><a th:href="@{user/list}">List user</a></li>
                        <li><a th:href="@{user/login}">login</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>

</header><!-- End Header -->

</html>