<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<th:block th:insert="~{head :: head}"></th:block>

<body>

<th:block th:insert="~{header :: header}"></th:block>

<main class="container-fluid">
    <h2 class="text-center">Gestion Véhicule</h2>

    <table class="table table-striped">
        <tr class="table-dark">
            <th>ID</th>
            <th>Date action</th>
            <th>Début location</th>
            <th>Date fin location</th>
            <th>User name</th>
            <th>Vehicule name</th>
            <th>Status</th>
            <th>Prix</th>
            <th>Action</th>


        </tr>

        <tr th:each="reserver : ${reservers}">
            <td th:text="${reserver.idReservation}"></td>

            <td>
                <a th:href="@{/reserver/__${reserver.idReservation}__}" th:text="${reserver.dayAction}">UP</a>
            </td>
            <td th:text="${reserver.dateDebut}"></td>
            <td th:text="${reserver.dateFin}"></td>
            <td th:text="${reserver.user.nom}"></td>
            <td th:text="${reserver.vehicule.marque}"></td>
            <td th:text="${reserver.statut}"></td>
            <td th:text="${reserver.prix}"></td>


            <td>


                <a th:href="@{/reserver/delete/__${reserver.idReservation}__}">DEL</a>
            </td>

        </tr>
        <tr>
            <th>Total réservation</th>
            <td th:text="${session.prixTotal}"></td>
        </tr>


    </table>


</main>

<th:block th:insert="~{footer :: footer}"></th:block>


</body>

</html>





